@use "util" as *;

p {
  font-size: rem(18);
}

ul {
  list-style: none;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

li {
  color: #7f7c7a;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: rem(18);
}

a {
  display: block;
}

img {
  display: inline-block;
}

.hero__text {
  max-width: 55%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    margin-inline: auto;
    max-width: rem(450);

    > a {
      max-width: max-content;
      margin-bottom: 2em;
    }
  }
}

.partners > * {
  color: black;
}

.hero__image {
  background: no-repeat center center / cover url("/Assets/Hero\ Image.jpg");
  height: 100vh;
  width: 45%;
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  height: 10vh;
}
